@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F7F7;
  --foreground: #020d1a;
  --skincolor: #00BF63;
  --secondcolor : #ED5D04;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F7F7;
    --foreground: #020d1a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
